@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
html, body {
  margin: 0;
  padding: 0px;
  font-size: 18px;
  font-family: 'Montserrat', Arial, sans-serif;
}

html .app-container, body .app-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.biz-container {
  z-index: 10;
  position: absolute;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  height: 360px;
  border-radius: 0 0 13px 0;
  background-color: #7c99fb;
}

.biz-container .biz-btn-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.biz-container .biz-btn-divider {
  width: 1px;
  background-color: white;
}

.biz-container .biz-btn {
  background: #6e8efb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.biz-container .biz-btn:hover {
  background: #7c99fb;
}

.biz-container #biz-btn-back {
  border-radius: 0;
}

.biz-container #biz-btn-next {
  border-radius: 0 0 13px 0;
}

.biz-container .biz-image {
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  padding: 0 0 0.5rem 0;
  position: absolute;
  border-radius: 0 0 13px 0;
  text-align: center;
  line-height: 5rem;
  color: rgba(0, 0, 0, 0.6);
}

.biz-container .biz-details {
  height: 100%;
  padding: 0.5rem 1rem;
  margin-top: auto;
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1rem;
  color: white;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1%, black), color-stop(80%, rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, black 1%, rgba(255, 255, 255, 0) 80%);
}

.biz-container .biz-details .biz-name {
  color: white;
  font-size: 2rem;
  word-wrap: break-word;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: auto;
}

.biz-container .biz-details .biz-name:hover {
  color: #7c99fb;
}

.map-container {
  height: 100vh;
}

.footer-container {
  height: 1rem;
  margin-top: auto;
  padding: 10px;
  font-size: 0.8rem;
  text-align: center;
  background-color: white;
}

.footer-container a {
  text-decoration: none;
  color: #6e8efb;
}

.footer-container a:visited {
  color: #6e8efb;
}

.footer-container a:hover {
  color: #7c99fb;
}
/*# sourceMappingURL=styles.css.map */