@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Montserrat");

$colors: (
  primary: #6e8efb,
  secondary: #a777e3
);

@function getColor($color) {
  @return map-get($colors, $color);
}

html, body {
  margin: 0;
  padding: 0px;
  font-size: 16px;
  font-family: 'Montserrat', Arial, sans-serif;

  .app-container {
    width: 100%;

    .biz-container {
        font-size: 1rem;
        background: skyblue;
        display: flex;
        flex-direction: row;
        justify-content: center;

      .biz-btn {
        background: linear-gradient(135deg, getColor(primary), getColor(secondary));
        border: none;
        color: white;
        padding: 15px 32px; //size of button
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 0; //keep it next to element
        cursor: pointer;
        border-radius: 10px;
      }

      .biz-info {
        width: 500px;
        .biz-image {
          width: 500px;
          height: 500px;
        }
        .biz-name {
          font-size: 2rem;
          word-wrap: break-word;
        }
      }
    }
  }

  .header-container {
    margin: 0;
    padding: 0 2rem;
    font-size: 1rem;
    font-family: 'Roboto Slab', Garamond, serif;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 20px;
    font-size: 0.8rem;

    a { 
      text-decoration: none;
      color:getColor(primary);
      &:hover{
        color: getColor(secondary);
      }
    }
  }
}