@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

$colors: (
  primary: #6e8efb,
  secondary: #7c99fb 
);

@function getColor($color) {
  @return map-get($colors, $color);
}

html, body {
  margin: 0;
  padding: 0px;
  font-size: 18px;
  font-family: 'Montserrat', Arial, sans-serif;

  .app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .biz-container {
      z-index: 10;
      position: absolute;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      width: 500px;
      height: 360px;
      border-radius: 0 0 13px 0;
      background-color: getColor(secondary);

      .biz-btn-row {
        display: flex;
        flex-direction: row;
        position: relative;
      }

      .biz-btn-divider {
        width: 1px;
        background-color: white;
      }

      .biz-btn {
        background: getColor(primary); //background: linear-gradient(135deg, getColor(primary), getColor(secondary));
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 0; 
        cursor: pointer;
        flex: 1;

        &:hover{
          background: getColor(secondary);
        }
      }

      #biz-btn-back {
        border-radius: 0;
      }

      #biz-btn-next {
        border-radius: 0 0 13px 0;
      }

      .biz-image {
        width: 100%;
        height: 90%;
        object-fit: cover;
        vertical-align: middle;
        padding: 0 0 0.5rem 0;
        

        position: absolute;
        border-radius: 0 0 13px 0;
      }
    }

      .biz-details {
        height: 100%;
        padding: 0.5rem 1rem;
        margin-top: auto;
        position: relative;
        bottom: 0;
        display: flex;
        flex-direction: column;
        flex: 1;
        font-size: 1rem;
        color: white;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 1%, rgba(255,255,255,0) 80%);

        .biz-name {
          color: white;
          font-size: 2rem;
          word-wrap: break-word;
          text-decoration: none;
          font-weight: bold;
          display: block;
          margin-top: auto;

          &:hover {
            color: getColor(secondary);
          }
      }
    }
  }

  .map-container {
    height: 96vh;
    min-height: 96vh;
  }
  
  .footer-container {
    flex: 1 0 auto;
    flex-shrink: 0;
    height: 1rem;
    margin: 0;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
    background-color: white;

    a { 
      text-decoration: none;
      color: getColor(primary);

      &:visited {
        color: getColor(primary);
      }
      
      &:hover{
        color: getColor(secondary);
      }
    }
  }
}