@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Montserrat");
html, body {
  margin: 0;
  padding: 0px;
  font-size: 16px;
  font-family: 'Montserrat', Arial, sans-serif;
}

html .app-container, body .app-container {
  width: 100%;
}

html .app-container .biz-container, body .app-container .biz-container {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

html .app-container .biz-container .biz-btn, body .app-container .biz-container .biz-btn {
  background: #6e8efb;
  border: none;
  color: white;
  padding: 15px 32px;
  height: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
}

html .app-container .biz-container .biz-btn:hover, body .app-container .biz-container .biz-btn:hover {
  background: #7c99fb;
}

html .app-container .biz-container #biz-btn-back, body .app-container .biz-container #biz-btn-back {
  border-radius: 13px 0 0 13px;
}

html .app-container .biz-container #biz-btn-next, body .app-container .biz-container #biz-btn-next {
  border-radius: 0 13px 13px 0;
}

html .app-container .biz-container .biz-info, body .app-container .biz-container .biz-info {
  margin: 0;
  width: 450px;
}

html .app-container .biz-container .biz-info .biz-image, body .app-container .biz-container .biz-info .biz-image {
  width: 450px;
  max-height: 300px;
  background: transparent no-repeat center;
  background-size: cover;
  vertical-align: middle;
  padding: 0 0 1rem;
}

html .app-container .biz-container .biz-info .biz-name, body .app-container .biz-container .biz-info .biz-name {
  color: black;
  padding: 1rem;
  font-size: 1.5rem;
  word-wrap: break-word;
  text-decoration: none;
  font-weight: 600;
}

html .app-container .biz-container .biz-info .biz-name:hover, body .app-container .biz-container .biz-info .biz-name:hover {
  color: #6e8efb;
}

html .app-container .biz-container .biz-info .biz-details, body .app-container .biz-container .biz-info .biz-details {
  padding: 1rem;
}

html .header-container, body .header-container {
  margin: 0;
  padding: 0 2rem;
  font-size: 1rem;
  font-family: 'Roboto Slab', Garamond, serif;
}

html .footer-container, body .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 10px;
  font-size: 0.8rem;
}

html .footer-container a, body .footer-container a {
  text-decoration: none;
  color: #6e8efb;
  font-weight: 700;
}

html .footer-container a:visited, body .footer-container a:visited {
  color: #6e8efb;
}

html .footer-container a:hover, body .footer-container a:hover {
  color: #7c99fb;
}
/*# sourceMappingURL=styles.css.map */